$app-margin: 40px auto;
$app-padding-min-width-1199: 40px 16px;

html, body {
    margin: 0;
    padding: 0;
}

.app {
    width: 1200px;
    margin: $app-margin;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
}

@media screen and (max-width: 1199px) {
    .app {
        width: auto;
        padding: $app-padding-min-width-1199;
    }
}
